*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

/build
.repl_history
.rvmrc
.ruby-gemset
.ruby-version
.DS_Store
.dat*
.rake_tasks*

# IDE / editor files
.idea/
*.tmproj
*.tmproject
tmtags
*.sublime-workspace
