language: objective-c
osx_image: xcode7.3
before_install:
    - (ruby --version)
    - sudo chown -R travis ~/Library/RubyMotion
    - mkdir -p ~/Library/RubyMotion/build
    - sudo motion update || echo 'RubyMotion up to date'
gemfile:
  - Gemfile
script:
    - bundle install
    - bundle exec rake clean
    - bundle exec rake spec
